#notes {
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#notes::-webkit-scrollbar {
  width: 0.5em;
}

#noteitembody {
  height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#noteitembody::-webkit-scrollbar {
  width: 0.5em;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5vh;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}